@model List<Player>
<div class="mx-auto w-full container bg-white dark:bg-gray-800 dark:bg-gray-800 shadow rounded"
     xmlns="http://www.w3.org/1999/html">
     <div class="w-full flex flex-row justify-between items-center py-5 mt-16">
       <button type="button" class="modal-open ml-5 focus:outline-none text-white text-sm py-2.5 px-5 h-1/2 border-b-4 border-green-600 rounded-md bg-green-500 hover:bg-green-400">New</button>
       <form method="post" action="/playershow">
       <select name="id">
         @foreach (var team in @ViewBag.Teams)
         {
           <option value="@team.Id">@team.Title</option>
         }
       </select>
       <button type="submit" class="ml-5 focus:outline-none text-white text-sm py-2.5 px-5 h-1/2 border-b-4 border-green-600 rounded-md bg-green-500 hover:bg-green-400">Search by this team</button>
       </form>
       <h1 class="leading-1 text-5xl text-right mr-10  ">Players</h1>
     </div>
     <div class="w-full">
       <table class="min-w-full bg-white dark:bg-gray-800">
         <thead>
         <tr class="w-full h-16 border-gray-300 border-b py-8">
           <!--<th
               class="pl-8 text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
             <input type="checkbox"
                    class="cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white dark:bg-gray-800 outline-none"
                    onclick="checkAll(this)" />
           </th>-->
           <th
               class="pl-8 text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
             Id</th>
           <th
               class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
             Player name</th>
           <th
               class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
             Photo</th>
           <th
             class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
             Age</th>
           <th
             class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
             Stature</th>

           <th
            class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
            Weight</th>
           <th
             class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
             Id University</th>
           <th
            class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
             Id Team</th>          
           <th
            class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
            Id Position</th>              
           <th
               class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
             <div class="opacity-0 w-2 h-2 rounded-full bg-indigo-400"></div>
           </th>
           <td
               class="text-gray-600 dark:text-gray-400 font-normal pr-8 text-left text-sm tracking-normal leading-4">
             More</td>
         </tr>
         </thead>
         <tbody>
         @foreach (var player in @Model)
         {
           
         <tr class="h-24 border-gray-300 border-b">
           <!--<td
                 class="pl-8 pr-6 text-left whitespace-no-wrap text-sm text-gray-800 dark:text-gray-100 tracking-normal leading-4">
             <input type="checkbox"
                    class="cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white dark:bg-gray-800 outline-none"
                    onclick="tableInteract(this)" />
           </td>-->
           <td
             class="pl-8 pr-6 text-left whitespace-no-wrap text-sm text-gray-800 dark:text-gray-100 tracking-normal leading-4">@player.Id</td>
           <td
             class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
             @player.Name</td>
      
           <td class="pr-6 whitespace-no-wrap">
             <div class="flex items-center">
               <div class="h-16 w-16">
                 <img src="Image/@player.Img"
                      alt="" class="h-full w-full rounded-full overflow-hidden shadow"/>
               </div>
               <p
                 class="ml-2 text-gray-800 dark:text-gray-100 tracking-normal leading-7 text-sm">
               </p>
             </div>
           </td>
           
          <td
               class="pl-8 pr-6 text-left whitespace-no-wrap text-sm text-gray-800 dark:text-gray-100 tracking-normal leading-4">@player.Age</td>
          <td
           class="pl-8 pr-6 text-left whitespace-no-wrap text-sm text-gray-800 dark:text-gray-100 tracking-normal leading-4">@player.Stature</td>
          <td
            class="pl-8 pr-6 text-left whitespace-no-wrap text-sm text-gray-800 dark:text-gray-100 tracking-normal leading-4">@player.Weight</td>
           <td
              class="pl-8 pr-6 text-left whitespace-no-wrap text-sm text-gray-800 dark:text-gray-100 tracking-normal leading-4">@player.IdUniversity</td>
           <td
               class="pl-8 pr-6 text-left whitespace-no-wrap text-sm text-gray-800 dark:text-gray-100 tracking-normal leading-4">@player.IdTeam</td>
            <td
                class="pl-8 pr-6 text-left whitespace-no-wrap text-sm text-gray-800 dark:text-gray-100 tracking-normal leading-4">@player.IdPosition</td>
                                       
           <td class="pr-6">
             <div class="w-2 h-2 rounded-full bg-indigo-400"></div>
           </td>
           <td class="pr-8 relative">
             <div
               class="dropdown-content mt-8 absolute left-0 -ml-12 shadow-md z-10 hidden w-32">
               <ul class="bg-white dark:bg-gray-800 shadow rounded py-1">
                 <li
                    class="cursor-pointer text-gray-600 dark:text-gray-400 text-sm leading-3 tracking-normal py-3 hover:bg-indigo-700 hover:text-white px-3 font-normal">
                   <form asp-controller="Player" asp-action="deletePlayer" asp-route-id="@player.Id">
                     <button type="submit">Delete</button>
                   </form></li>
                 
               </ul>
             </div>
             <button
               class="text-gray-500 rounded cursor-pointer border border-transparent focus:outline-none">
               <svg xmlns="http://www.w3.org/2000/svg" onclick="dropdownFunction(this)"
                    class="icon icon-tabler icon-tabler-dots-vertical dropbtn" width="28"
                    height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                 <path stroke="none" d="M0 0h24v24H0z"/>
                 <circle cx="12" cy="12" r="1"/>
                 <circle cx="12" cy="19" r="1"/>
                 <circle cx="12" cy="5" r="1"/>
               </svg>
             </button>
           </td>
         </tr>
         }

         </tbody>
       </table>
     </div>

     <!--#################################################### MODAL FORM #############################################-->
   
   </div>
   
   
   
   
<!--Modal-->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-white opacity-95"></div>

  <div class="modal-container fixed w-full h-full z-50 overflow-y-auto flex flex-col justify-center">

    <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-black text-sm z-50">
      <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
      </svg>
      (Esc)
    </div>

    <!-- Add margin if you want to see grey behind the modal-->
    <div class="modal-content container mx-auto h-auto text-left p-4">

      <!--Title-->
      <div class="flex justify-between items-center pb-2">
        <p class="text-2xl font-bold">
          <slot name="title"></slot>
        </p>
      </div>

      <!--Body-->
       <div class="bg-gray-200" v-if="team && renderForm">
         <div>
           <form id="form" class=" mx-auto bg-white shadow rounded" method="post" action="/players"  enctype="multipart/form-data">
             <div class="xl:w-full border-b border-gray-300 dark:border-gray-700 py-5">
               <div class="flex items-center w-11/12 mx-auto">
                 <p class="text-lg text-gray-800 dark:text-gray-100 font-bold">Players's Information</p>
                 <input type="hidden" name="Id" v-model="team.Id">
                 <input type="hidden" name="Img" v-model="team.Img">
                 <div class="ml-2 cursor-pointer text-gray-600 dark:text-gray-400">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                     <path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9a1 1 0 0 1 1 1v4a1 1 0 0 1-2 0v-4a1 1 0 0 1 1-1zm0-4a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" fill="currentColor" />
                   </svg>
                 </div>
               </div>
             </div>
             <div class="w-11/12 mx-auto">
               <div class="container mx-auto">
                 <div class="my-8 mx-auto xl:w-full xl:mx-0">
                   <div class="xl:flex lg:flex md:flex flex-wrap justify-between">
                     <div class="xl:w-2/5 lg:w-2/5 md:w-2/5 flex flex-col mb-6">
                       <label for="PlayersName" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Player's Name</label>
                       <input type="text" name="Name" required id="PlayersName" class="border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none bg-transparent focus:border-indigo-700 text-gray-800 dark:text-gray-100" placeholder="" />
                     </div>
                     <div class="xl:w-2/5 lg:w-2/5 md:w-2/5 flex flex-col mb-6">
                      <label for="PlayersName" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Age</label>
                      <input type="number" step="0.1" name="Age" required id="PlayersName" class="border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none bg-transparent focus:border-indigo-700 text-gray-800 dark:text-gray-100" placeholder="" />
                    </div>
                     <div class="xl:w-2/5 lg:w-2/5 md:w-2/5 flex flex-col mb-6">
                      <label for="PlayersName" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Stature</label>
                      <input type="number" step="0.1" name="Stature" required id="" class="border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none bg-transparent focus:border-indigo-700 text-gray-800 dark:text-gray-100" placeholder="" />
                    </div>
                     <div class="xl:w-2/5 lg:w-2/5 md:w-2/5 flex flex-col mb-6">
                      <label for="PlayersName" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Weight</label>
                      <input type="number" step="0.1" name="Weight" required id="" class="border border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none bg-transparent focus:border-indigo-700 text-gray-800 dark:text-gray-100" placeholder="" />
                    </div>
                     <div class="xl:w-2/5 lg:w-2/5 md:w-2/5 flex flex-col mb-6">
                       <label for="ImageFile" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Img Player</label>
                       <div class="h-16 w-16">
                      </div>
                       <input type='file' name="ImageFile" ref="fileupload" id="ImageFile" /> 
                     </div>
                     <div class="xl:w-2/5 lg:w-2/5 md:w-2/5 flex flex-col mb-6">
                       <label for="PlayersName" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Team</label>
                       <select name="IdTeam">
                         @foreach(var team in ViewBag.Teams as List<Team>)
                         {
                           <option value="@team.Id">@team.Title</option>
                         } 
                         
                       </select>
                       
                    </div>
                    <div class="xl:w-2/5 lg:w-2/5 md:w-2/5 flex flex-col mb-6">
                      <label for="PlayersName" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Position</label>
                      @ViewBag.Positions.Count
                      <select name="IdPosition">
                                                                     @foreach(var position in ViewBag.Positions)
                                               {
                                                                       <option value="@position.Id">@position.position</option>
                                               } 
                                                                      
                                                                   </select>
                   </div>
                     <div class="xl:w-2/5 lg:w-2/5 md:w-2/5 flex flex-col mb-6">
                       <label for="PlayersName" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">University</label>
                       <select name="IdUniversity" required>
                         @foreach(var university in ViewBag.University as List<University>)
                         {
                           <option value="@university.Id">@university.Title</option>
                         } 
                                                                      
                       </select>
                     </div>
                     </div>
                     </div>
                 </div>
             </div>
             <div class="w-full py-4 sm:px-12 px-4 bg-gray-100 dark:bg-gray-700 mt-6 flex justify-end rounded-bl rounded-br">
               <div class="modal-close bg-red-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-2 text-sm focus:outline-none mr-4" >Cancel</div>
               <button class="bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-2 text-sm focus:outline-none" type="submit">Save</button>
             </div>
           </form>
         </div>
         
       </div>

    </div>
  </div>
</div> 